<div class="page-header">
  <h2>Available topics <a class="btn btn-default" href="/available/new">New</a></h2>
</div>

{{ $topics := . }}

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>#</th>
      <th>Ident <small class="text-muted">(event)</small></th>
      <th>Channels</th>
      <th>App <small class="text-muted">(feature)</small></th>
      <th></th>
    </thead>
    <tbody>

      {{ range $index, $available := $topics }}
        <tr>
          <td>{{ add $index 1 }}.</td>
          <td>
            <a href="/available/{{ .Id.Hex }}">{{ $available.Ident }}</a>
          </td>
          <td>
            {{ range $channel := $available.Channels }}
              {{ $channel }} &nbsp;
            {{ end }}
          </td>
          <td>
            {{ $available.AppName }}
          </td>
          <td>
            <form action="/available/{{ .Id.Hex }}/delete" method="POST">
              <a href="javascript:void(0);" onclick="if (confirm('Are you sure you want to delete {{ $available.Ident }}?')) document.forms[{{ $index }}].submit();">
                <i class="fa fa-trash"></i>
              </a>
            </form>
          </td>
        </tr>
      {{ end }}

    </tbody>
  </table>
</div>
