<div class="page-header">
  <h2>Available topics</h2>
</div>

{{ $topics := . }}

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>#</th>
      <th>Ident <small class="text-muted">(event)</small></th>
      <th>Channels</th>
      <th>App <small class="text-muted">(feature)</small></th>
    </thead>
    <tbody>

      {{ range $index, $available := $topics }}
        <tr>
          <td>{{ add $index 1 }}.</td>
          <td>
            <a href="/available/{{ .Id.Hex }}">{{ $available.Ident }}</a>
          </td>
          <td>
            {{ range $channel := $available.Channels }}
              {{ $channel }} &nbsp;
            {{ end }}
          </td>
          <td>
            {{ $available.AppName }}
          </td>
        </tr>
      {{ end }}

    </tbody>
  </table>
</div>
